<h1>The Lend Record</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
<% @lend_records.each do |lend_record| %>
  <tr>
    <td><%= lend_record.name %></td>
    <td><%= lend_record.email %></td>
    <td><%= lend_record.amount %></td>
    <td><%= lend_record.date %></td>
    <td><%= link_to "Edit", edit_lend_record_path(lend_record) %></td>
    <td><%= link_to "show", lend_record %></td>
    <td><%= link_to "destroy", lend_record, confirm: "Are you sure?", method: :delete %></td>
  </tr>
<% end %>
    </table>
<%= link_to "New Record", new_lend_record_path %>
